<!-- <h2>{{ hero.name | uppercase }} Details:</h2>
<div><span>ID: </span>{{ hero.id }}</div>
<div><span>Name: </span>{{ hero.name }}</div> -->
<!-- [(ngModel)] is Angular's two-way data binding syntax -->
<!-- <div>
  <label for="name">Hero Name: </label>
  <input id="name" [(ngModel)]="hero.name" placeholder="Name" />
</div> -->
<h2>Valorant Agents</h2>
<!-- <ul class="heroes"> -->
<!-- The *ngFor is Angular's repeater directive -->
<!-- Don't forget the asterisk (*) character in front of ngFor -->
<!-- <li *ngFor="let hero of heroes"> -->
<!-- The parentheses around click tell Angular to listen for the <button> element's click event -->
<!-- <button
      type="button"
      (click)="onSelect(hero)"
      [class.selected]="hero === selectedHero"
    > -->
<!-- <span class="badge">{{ hero.id }}</span>
      <span class="name">{{ hero.name }}</span>
    </button>
  </li>
</ul> -->
<!-- Angular property binding -->
<!-- It's a one way data binding from the selectedHero property of the HeroesComponent to the hero property of the target element, which maps to the hero property of the HeroDetailComponent -->
<!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->
<div>
  <label for="new-hero">Agent Name: </label>
  <input id="new-hero" #heroName />
  <!-- (click) passes input value to add() and then clears the input -->
  <button
    type="button"
    class="add-button"
    (click)="add(heroName.value); heroName.value = ''"
  >
    Add Agent
  </button>
</div>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{ hero.id }}">
      <span class="badge">{{ hero.id }}</span> {{ hero.name }}
    </a>
    <button
      type="button"
      class="delete"
      title="Delete Agent"
      (click)="delete(hero)"
    >
      x
    </button>
  </li>
</ul>
